<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptSafe</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="icon.png" alt="Profolio Logo" class="logo">
            <h1>ScriptSafe</h1>
            <p>
                Welcome to ScriptSafe, the secure and intuitive platform for managing your notes. 
                Store, organize, and access your personal information with ease, all while ensuring your privacy. 
                With ScriptSafe, keeping track of your thoughts and ideas has never been simpler or more secure.
            </p>
            <div class="buttons">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-secondary">Register</a>
            </div>
        </div>
    </div>
    <footer>
        <p>Made with <span>❤️</span> by Adarsh</p>
    </footer>
</body>
</html>
